<div class="container-fluid">
    <div class="row row-cols-1 row-cols-lg-3">
        <div class="col text-light d-flex align-items-center order-last order-lg-first">
            <div class="fs-6 text-nowrap"><span>&copy;2022</span>  Kfir Avraham | Kfirkfir89@gmail.com</div>
        </div>
        <div class="col d-flex align-items-center justify-content-center mb-2">
            <img src="/assets/img/Whitelogo.png" alt="Kfir Avraham Logo" class="footerLogo">
        </div>
        <div class="col d-flex align-items-center justify-content-start justify-content-lg-end">
            <div class="row p-2 mb-2">
                <div class="col social"><a href="https://www.linkedin.com/in/kfir-avraham-91637b123/" target="__blank"><i class="fab fa-linkedin fa-lg footerIcons"></i></a></div>
                <div class="col social"><a href="https://github.com/kfirkfir89" target="__blank"><i class="fab fa-github fa-lg footerIcons"></i></a></div>
                <div class="col social"><a href="https://twitter.com/kfir_avraham" target="__blank"><i class="fab fa-twitter fa-lg footerIcons"></i></a></div>
            </div>
        </div>
    </div>
</div>