<div class="container-fluid bg-gradient">
    <div class="row row-cols-1 row-cols-lg-3 gy-2">
        <div class="col text-light d-flex align-items-center order-last order-lg-first">
            <div class="smallfont"><span>&copy;2022</span>  Kfir Avraham | Kfirkfir89@gmail.com</div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <img src="/img/White logo - no background.svg" alt="Kfir Avraham Logo" height="43">
        </div>
        <div class="col d-flex align-items-center justify-content-start justify-content-lg-end">
            <div class="row p-1">
                <div class="col social"><a href="https://www.linkedin.com/in/kfir-avraham-91637b123/" target="__blank"><i class="fab fa-linkedin fa-2x"></i></a></div>
                <div class="col social"><a href="https://github.com/kfirkfir89" target="__blank"><i class="fab fa-github fa-2x"></i></a></div>
                <div class="col social"><a href="https://twitter.com/kfir_avraham" target="__blank"><i class="fab fa-twitter fa-2x"></i></a></div>
            </div>
        </div>
    </div>
</div>