@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Services
@using TheBlogProject.ViewModels

@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager
@inject IImageService _imageService


<div class="row">
    @if (SignInManager.IsSignedIn(User))
    {
        BlogUser blogUser = (BlogUser)await UserManager.GetUserAsync(User);


        <div class="btn-group d-flex d-inline-block">

            <a class="btn btn-primary logoutButton border-1 px-4 pt-2 me-2 shadow-none" asp-controller="Posts" asp-action="Create">
                <span class="aTextStyle">CREATE POST</span>
            </a>
            <form class="me-2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-primary logoutButton border-1 px-4 shadow-none">LOGOUT</button>
            </form>
        </div>

    }
</div>
