@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Services
@using TheBlogProject.ViewModels

@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager
@inject IImageService _imageService


<div class="row">
    @if (SignInManager.IsSignedIn(User))
    {
        BlogUser blogUser = (BlogUser)await UserManager.GetUserAsync(User);


        <div class="btn-group d-flex d-inline-block">

            <form class="d-none d-md-block pe-2" asp-controller="Posts" asp-action="Create" method="get">
                <button type="submit" class="btn btn-primary logoutButton border-1 px-2 shadow-none">CREATE POST</button>
            </form>
            <form class="d-none d-md-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-primary logoutButton border-1 px-2 shadow-none">LOGOUT</button>
            </form>
        </div>

    }
</div>
