@using TheBlogProject.Enums
@using System.Drawing
@using TheBlogProject.Services

@inject IImageService imageService

@model TheBlogProject.Models.Post

@{
    Layout = "~/Views/Shared/_LayoutOneCol.cshtml";
}

<div class="col">
    <div class="row-cols-1">
        <div class="col">
            <div class="h4 text-center pb-1">Create Post</div>
        </div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input asp-for="Title" class="form-control ps-2 floaingCustom" style="padding-top: 25px;" id="floatingInputGrid" placeholder="Title">
                    <label class="form-labelFloating ps-2" for="floatingInputGrid">Title</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input asp-for="Abstract" class="form-control ps-2 floaingCustom" style="padding-top: 25px;" id="floatingInputGrid" placeholder="Abstract">
                    <label class="form-labelFloating ps-2" for="floatingInputGrid">Abstract</label>
                    <span asp-validation-for="Abstract" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group bg-transparent mb-1">
                    <textarea asp-for="Content" class="form-control AboutMe ps-2" style="padding-top: 25px;"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>

            <div class="row row-cols-1 d-flex justify-content-center px-3 m-0">
                <div class="col-12 col-sm-5 d-flex justify-content-center p-0">
                    <div class="row-cols-1 container-fluid p-0 m-0">
                        <div class="col">
                            <label class="h6 text-center pt-1 text-nowrap">Tags</label>
                        </div>
                        <div class="col">
                            <select multiple class="form-select" size="8" asp-items="@((List<SelectListItem>)ViewData["DatabaseTagValues"])" name="DatabaseTagValues" id="DatabaseTagValues"></select>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-2 d-flex justify-content-center flex-column align-content-center">
                    <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
                        <a onclick="AddMyTag()" class="btn btn-outline-primary d-flex justify-content-center pluMinusBtn" name="Add">
                            <i class="fa-solid fa-plus align-self-center"></i>
                        </a>
                        <a onclick="AddMyTagBack()" class="btn btn-outline-primary d-flex justify-content-center pluMinusBtn" name="Delete">
                            <i class="fa-solid fa-minus align-self-center"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-5 d-flex justify-content-center p-0">
                    <div class="row-cols-1 container-fluid p-0 m-0">
                        <div class="col">
                            <label class="h6 text-center pt-1 text-nowrap">Post Tags</label>
                        </div>
                        <div class="col">
                            <select multiple class="form-select" size="8" name="TagValues" id="TagList"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-cols-1 py-2">
                @*                <div class="col d-flex justify-content-center pb-2">
                        <img src="@imageService.DecodeImage(Model.ImageData, Model.ContentType)" class="imgSetup imgSmall rounded-circle img-thumbnail" style="width:150px; height:150px;" />
                    </div>*@
                <div class="col">
                    <div class="input-group">
                        <label  class="btn btn-primary note-btn-block shadow-none w-100 uploadButton btn-file p-2" for="multiple_input_group p-2" placeholder="ImageFile">
                            <input  id="postImage" name="postImage" type="file" accept=".png, .jpg, .jpeg , .svf">
                            <i class="fa-solid fa-upload fa-2xl"></i>
                            <span class="file-input-label"></span>
                            <span  class="text-danger"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ReadyStatus" class="control-label"></label>
                <select asp-for="ReadyStatus" asp-items="@Html.GetEnumSelectList<ReadyStatus>()" class="form-select"></select>
                <span asp-validation-for="ReadyStatus" class="text-danger"></span>
            </div>

            <hr />
            <div class="d-flex justify-content-center">
                <button type="submit" class="w-100 btn btn-primary logoutButton border-1 mb-2 shadow-none">Save Changes</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>

         let tagValues = '@ViewData["TagValues"]';

    </script>
    <script src="~/js/uploadImage.js"></script>
    <script src="~/js/Custom.js"></script>

    <script>

        var useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

        tinymce.init({
            selector: '#Content',
            plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
            imagetools_cors_hosts: ['picsum.photos'],
            menubar: 'file edit view insert format tools table help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
            toolbar_sticky: true,
            autosave_ask_before_unload: true,
            autosave_interval: '30s',
            autosave_prefix: '{path}{query}-{id}-',
            autosave_restore_when_empty: false,
            autosave_retention: '2m',
            image_advtab: true,
            link_list: [
                { title: 'My page 1', value: 'https://www.tiny.cloud' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_list: [
                { title: 'My page 1', value: 'https://www.tiny.cloud' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_class_list: [
                { title: 'None', value: '' },
                { title: 'Some class', value: 'class-name' }
            ],
            importcss_append: true,
            file_picker_callback: function (callback, value, meta) {
                /* Provide file and text for the link dialog */
                if (meta.filetype === 'file') {
                    callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
                }

                /* Provide image and alt text for the image dialog */
                if (meta.filetype === 'image') {
                    callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
                }

                /* Provide alternative source and posted for the media dialog */
                if (meta.filetype === 'media') {
                    callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
                }
            },
            templates: [
                { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
                { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
                { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
            ],
            template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
            height: 600,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_noneditable_class: 'mceNonEditable',
            toolbar_mode: 'sliding',
            contextmenu: 'link image imagetools table',
            skin: useDarkMode ? 'oxide-dark' : 'oxide',
            content_css: useDarkMode ? 'dark' : 'default',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });



    </script>

}