@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Models
@using TheBlogProject.Services
@using TheBlogProject.Data


@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> userManager
@inject IImageService imageService
@inject ApplicationDbContext _context


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Post>

    <div class="pre"></div>
    <div id="0" class="lastGetContainer row-cols-1 pt-5 mt-5">


    </div>


    <button onclick="GetData()">get data</button>
    <button onclick="DelCon()">del con</button>
    <button onclick="DelScript()">del script</button>
    <button onclick="myPartialView_Load()">myPartialView_Load</button>

    <div id="progress">
        loading
    </div>
    @section Scripts{

        <script type="text/javascript">

        var BlockNumber = 1;

        function GetData() {
            console.log("getting data");

            $.ajax({
                type: 'POST',
                url: "@Url.ActionLink("InfinateScroll", "Home")",
                data: { "BlockNumber": BlockNumber },
                dataType: 'HTML',
                success: function (data) {
                    console.log(data);

                    if (data != null) {

                        $(".lastGetContainer").append(data);

                        

                        console.log(data);
                        BlockNumber++;

                    }
                },
                beforeSend: function () {
                    $("#progress").show();
                    console.log("rdy");
                    
                },
                complete: function () {
                    $("#progress").hide();
                    
                },
                error: function () {
                    alert("Error while retrieving data!");
                }
            });


        }

        function GetPreData() {

            console.log("getting data");

            $.ajax({
                type: 'POST',
                url: "@Url.ActionLink("_postPartial", "Home")",
                data: { "BlockNumber": BlockNumber },
                dataType: 'HTML',
                success: function (data) {
                    console.log(data);

                    if (data != null) {

                        $(".pre").append(data);

                        console.log(data);

                    }
                },
                beforeSend: function () {
                    $("#progress").show();
                    console.log("rdy");
                },
                complete: function () {
                    $("#progress").hide();
                },
                error: function () {
                    alert("Error while retrieving data!");
                }
            });

        }

        function DelCon() {
            console.log("delcon");
            $(".lastGetContainer").html("");
        }
        function DelScript() {
            console.log("DelPre");
            $("#pre").html("");
        }


        function myPartialView_Load() {

            console.log("koree loo?");
            $(".likeBtn").off("click").on('click',function () {
                var trigger = true;
                if (trigger == false) {
                    return;
                }
                var $el = $(this);
                var slug = $el.data('slug');
                var postLikesCount = $(this).attr('postLikesCount');

                var e = $el.parents("#viewUpdate").children().children();
                var elId = e.attr('id');
                var pageCount = $("#" + elId).children().html();
                postLikesCount = pageCount;

                let modalId = $(this).attr('id');

                console.log($el.data('slug'));
                console.log("ziki zuki `` ose string" + ``);
                $.ajax({

                    type: "POST",
                    url: '/Home/Like',
                    data: { slug: slug },
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        trigger = false;
                        var modalAnchor = document.getElementById(modalId);
                        var icon = modalAnchor.firstElementChild;

                        if (icon.classList.contains("fa-regular")) {
                            icon.classList.remove("fa-regular");
                            icon.classList.add("fa-solid");

                            postLikesCount++;

                        } else if (icon.classList.contains("fa-solid")) {
                            icon.classList.remove("fa-solid");
                            icon.classList.add("fa-regular");

                            postLikesCount--;
                        }

                        var e = $el.parents("#viewUpdate").children().children();
                        var elId = e.attr('id');
                        console.log(elId);
                        $("#" + elId).children().html(" " + postLikesCount);

                    },
                    error: function (req, status, error) {
                        console.log(status)
                    }
                });
            });


            $(".usefulBtn").click(function () {

                var $el = $(this);
                var slug = $el.data('slug');
                var postUsefulCount = $(this).attr('postUsefulCount');

                var e = $el.parents("#viewUpdate").children().children(".usefulCount");
                var elId = e.attr('id');
                var pageCount = $("#" + elId).children(".usefulCount").html();
                postUsefulCount = pageCount;

                let modalId = $(this).attr('id');

                console.log($el.data('slug'));
                console.log("ziki zuki `` ose string" + ``);

                $.ajax({

                    type: "POST",
                    url: '/Home/UsefulCode',
                    data: { slug: slug, postUsefulCount: postUsefulCount },
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        var modalAnchor = document.getElementById(modalId);
                        var icon = modalAnchor.firstElementChild;

                        if (icon.classList.contains("fa-regular")) {
                            icon.classList.remove("fa-regular");
                            icon.classList.add("fa-solid");

                            postUsefulCount++;

                        } else if (icon.classList.contains("fa-solid")) {
                            icon.classList.remove("fa-solid");
                            icon.classList.add("fa-regular");

                            postUsefulCount--;
                        }

                        var e = $el.parents("#viewUpdate").children().children(".usefulCount");
                        var elId = e.attr('id');

                        console.log(elId);
                        $("#" + elId).children(".usefulCount").html(" " + postUsefulCount);


                    },
                    error: function (req, status, error) {
                        console.log(status)
                    }
                });
            });
        }




        </script>
    }