@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Models
@using TheBlogProject.Services
@using TheBlogProject.Data



@inject ViewDataDictionary vdd
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> userManager
@inject IImageService imageService
@inject ApplicationDbContext _context

@{
    Layout = "~/Views/Shared/_Layout1Col.cshtml";
}
@model IEnumerable<Post>



<div class="col" id="hiddenContainer">
    @Html.Partial("_postPartial", Model)
</div>

@section Scripts {

    <script type="text/javascript">

        var BlockNumber = 2;
        var NoMoreData = false;
        var inProgress = false;

        $(document).ready(function () {


            $(".likeBtn").click(function () {

                 var $el = $(this);
                 var slug = $el.data('slug');
                var postLikesCount = $(this).attr('postLikesCount');

                var e = $el.parents("#viewUpdate").children().children();
                var elId = e.attr('id');
                var pageCount = $("#" + elId).children().html();
                postLikesCount = pageCount;

                 let modalId = $(this).attr('id');
                 
                 console.log($el.data('slug'));
                 console.log("ziki zuki `` ose string"+``);
                 $.ajax({
                    
                    type: "POST",
                    url: "@Url.ActionLink("Like","Home")",
                     data: { slug: slug },
                    dataType: "json",
                     success: function (result) {
                         console.log(result);

                         var modalAnchor = document.getElementById(modalId);
                         var icon = modalAnchor.firstElementChild;

                         if (icon.classList.contains("fa-regular")) {
                             icon.classList.remove("fa-regular");
                             icon.classList.add("fa-solid");

                             postLikesCount++;

                         } else if (icon.classList.contains("fa-solid")) {
                             icon.classList.remove("fa-solid");
                             icon.classList.add("fa-regular");

                             postLikesCount--;
                         }

                         var e = $el.parents("#viewUpdate").children().children();
                         var elId = e.attr('id');
                         console.log(elId);
                         $("#" + elId).children().html(" " + postLikesCount);

                     },
                    error: function (req, status, error) {
                        console.log(status)
                    }
                 });
            });


            $(".usefulBtn").click(function () {

                 var $el = $(this);
                var slug = $el.data('slug');
                var postUsefulCount = $(this).attr('postUsefulCount');

                var e = $el.parents("#viewUpdate").children().children(".usefulCount");
                var elId = e.attr('id');
                var pageCount = $("#" + elId).children(".usefulCount").html();
                postUsefulCount = pageCount;

                 let modalId = $(this).attr('id');

                 console.log($el.data('slug'));
                 console.log("ziki zuki `` ose string"+``);

                 $.ajax({

                    type: "POST",
                    url: "@Url.ActionLink("UsefulCode", "Home")",
                     data: { slug: slug, postUsefulCount: postUsefulCount},
                    dataType: "json",
                    success: function (result) {
                        console.log(result);
                        var modalAnchor = document.getElementById(modalId);
                        var icon = modalAnchor.firstElementChild;

                        if (icon.classList.contains("fa-regular")) {
                            icon.classList.remove("fa-regular");
                            icon.classList.add("fa-solid");

                            postUsefulCount++;

                        } else if (icon.classList.contains("fa-solid")) {
                            icon.classList.remove("fa-solid");
                            icon.classList.add("fa-regular");

                            postUsefulCount--;
                        }

                        var e = $el.parents("#viewUpdate").children().children(".usefulCount");
                        var elId = e.attr('id');

                        console.log(elId);
                        $("#" + elId).children(".usefulCount").html(" " + postUsefulCount);


                    },
                    error: function (req, status, error) {
                        console.log(status)
                    }
                });
            });

            console.log("rdy");


        });

    </script>
}