@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Models
@using TheBlogProject.Services
@using TheBlogProject.Data



@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> userManager
@inject IImageService imageService
@inject ApplicationDbContext _context

@{
    Layout = null;
}


@model IEnumerable<Post>




<div class="part">


</div>
<div class="container2">

    @foreach(var post in Model)
            {

            @Html.Partial("_postPartial2", post)
            }
    <!-- Or you can call from a ajax or other way... -->

</div>

@section Scripts{ 

}