@using Microsoft.AspNetCore.Identity
@using TheBlogProject.Models
@using TheBlogProject.Services
@using TheBlogProject.Data


@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> userManager
@inject IImageService imageService
@inject ApplicationDbContext _context


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tagOrText = "";
}

@if (ViewBag.Text != null)
{
    tagOrText = ViewBag.Text;
}
else if (ViewBag.Tag != null)
{
    tagOrText = ViewBag.Tag;
}

<div id="@tagOrText" class="postPartialContainer row-cols-1">

</div>


<div class="d-flex justify-content-center pt-2 mb-3">
    <i id="progress" class="fa-solid fa-circle-notch fa-spin fa-xl"></i>
</div>
@section Scripts{
    <script src="~/js/partialScripts.js"></script>

}