
<div class="row row-cols-1 container-fluid px-2 m-0">
    <div class="col">
        <div class="h4 text-center pb-1">My Tags</div>
    </div>
    <div class="col">
        @using (Html.BeginForm("UserTags", "Home", new { tagValues = ViewData["TagList"] }, FormMethod.Post))
        {
            <div class="row row-cols-1 d-flex justify-content-center">
                <div class="col-12 col-sm-5 d-flex justify-content-center p-0">
                    <div class="row-cols-1 container-fluid p-0 m-0">
                        <div class="col">
                            <label class="h6 text-center pt-1 text-nowrap">Tags</label>
                        </div>
                        <div class="col">
                            <select multiple class="form-select" size="15" asp-items="@((List<SelectListItem>)ViewData["DatabaseTagValues"])" name="DatabaseTagValues" id="DatabaseTagValues"></select>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-2 d-flex justify-content-center flex-column align-content-center">
                    <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
                        <a onclick="AddMyTag()" class="btn btn-outline-primary d-flex justify-content-center pluMinusBtn" name="Add">
                            <i class="fa-solid fa-plus align-self-center"></i>
                        </a>
                        <a onclick="AddMyTagBack()" class="btn btn-outline-primary d-flex justify-content-center pluMinusBtn" name="Delete">
                            <i class="fa-solid fa-minus align-self-center"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-5 d-flex justify-content-center p-0">
                    <div class="row-cols-1 container-fluid p-0 m-0">
                        <div class="col">
                            <label class="h6 text-center pt-1 text-nowrap">My Tags</label>
                        </div>
                        <div class="col">
                            <select multiple class="form-select" size="15" asp-items="@((List<SelectListItem>)ViewData["TagValues"])" name="TagValues" id="TagList"></select>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="d-flex justify-content-center">
                <button type="submit" class="w-100 btn btn-primary logoutButton border-1 mx-2 mb-2 shadow-none" asp-action="UserTags">Save Changes</button>
            </div>




            <script>
@*                let tagValues = '@ViewData["TagValues"]';*@

                $("form").on("submit", function () {
                    selectBox = document.getElementById("TagList");
                    for (var i = 0; i < selectBox.options.length; i++) {
                        selectBox.options[i].selected = false;
                    }
                    for (var i = 0; i < selectBox.options.length; i++) {
                        selectBox.options[i].selected = true;
                    }


                })
            </script>

        }
    </div>
</div>
