@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutOneCol.cshtml";
}

<div class="row bg-transparent rounded d-flex justify-content-center">
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="bg-white rounded p-3 mt-2 shadow-sm">
            <div class="h6 pt-2 ps-1">Login</div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control ps-2 floaingCustom" style="padding-top: 25px;" id="floatingInputGrid" placeholder="Email" aria-required="true">
                    <label class="form-labelFloating ps-2" for="floatingInputGrid">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control ps-2 floaingCustom" style="padding-top: 25px;" id="floatingInputGrid" placeholder="NewPassword" autocomplete="new-password" aria-required="true">
                    <label class="form-labelFloating ps-2" for="floatingInputGrid">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label fs-6">
                        <input class="form-check-input shadow-none" style="width:0.9rem; height:0.9rem; top:0.9rem;" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
        </div>
        <hr />
        <div class="row-cols-1">
            <div class="col">
                <button id="login-submit" type="submit" class="w-100 btn btn-primary logoutButton border-1 px-2 shadow-none">Log in</button>
            </div>
            <div class="col mt-1">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="w-100 d-flex justify-content-center btn btn-primary logoutButton border-1 px-2 shadow-none">Register</a>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a id="forgot-password" asp-page="./ForgotPassword" class="text-nowrap fs-6 text-muted">Forgot your password</a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-nowrap fs-6 text-muted">Resend email confirmation</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
