@page
@model ResendEmailConfirmationModel

@{
    Layout = "~/Views/Shared/_LayoutOneCol.cshtml";
}

<div class="row bg-transparent rounded d-flex justify-content-center p-0 m-0">
    <form method="post" class="p-0">
        <div class="bg-white rounded p-3 mt-2 shadow-sm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="h6 pt-2 ps-1">Resend email confirmation</div>

            <div class="col">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control ps-2 floaingCustom" style="padding-top: 25px;" id="floatingInputGrid" placeholder="Email" autocomplete="email" aria-required="true">
                    <label class="form-labelFloating ps-2" for="floatingInputGrid">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <hr />
        <button type="submit" class="w-100 btn btn-primary logoutButton border-1 px-2 shadow-none">Resend</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
