:root {
    --blueDark-color: #2F3337;
    --backgroundGray-color: #EAEAEC;
    --hoverLightBlue-color: #205CE9;
    --customBlack-color: #2F3337;
}




/*-----------------NAVIGATION---------------*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--backgroundGray-color);
    color: var(--customBlack-color);
    min-height: 100%;
}

.nav {
    display: inline-block;
}


#navbarResponsive > ul:nth-child(2) > li:nth-child(2) > form > button {
    line-height: 1.5;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--blueDark-color);
    transition: all .2s;
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: rgba(255, 255, 255, .8);
}

.nav-identity {
    padding-top: 18px !important;
}

/*-----------------CUSTOM MEDIA OBJECT BORDER---------------*/
/*.media-border {
    border: 2px solid black;
}*/

/*-----------------CUSTOM BG COLOR---------------*/
.bg-cf {
    background: rgba(255, 153, 59, .35);
}
/*-----------------APP WIDE FONT WEIGHT---------------*/
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading,
select, input, textarea, option, label, .tooltip-inner {
    font-weight: 600;
}

/*-----------------GENERAL PADDING---------------*/
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 100px 0 100px 0;
}
/*-----------------GOOGLE MAP---------------*/
/*#map {
    height: 400px;
}

.noline {
    text-decoration: none;
}*/

/*-----------------SUMMERNOTE---------------*/
/*.note-editable, .note-placeholder {
    font-size: 22px;
}*/

/*-----------------BUTTON STYLES---------------*/
/*.btn-tag {
    margin-top: 10px;
}

.btnWide, .btn-tag {
    width: 100%;
}

button.btn-sm, a.btn-sm {
    line-height: .5;
    border-radius: 10px;
}

.btn-dark:hover {
    border: 4px solid var(--customOrange-color);
}

.btn-warning {
    color: #212121;
    background-color: var(--customOrange-color);
    border-color: var(--customOrange-color);
}

    .btn-warning:hover {
        color: white;
        background-color: #212121;
        outline: 4px solid var(--customOrange-color);
    }*/

/*-----------------CARD STYLE---------------*/
.card-hr {
    color: #212121;
    background-color: #212121;
    height: 3px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-img, .card-img-top, .card-img-bottom {
    padding: 10px;
    height: 350px;
}

/*-----------------page button pageX---------------*/

.page-item.active .page-link {
    background-color: var(--hoverLightBlue-color);
    border: none;
    padding-bottom: 6px;
    margin-top: 1px;
}
.page-item {
    padding: 0px;
    margin: 0px;

}
.page-link {
    background-color: var(--customBlack-color);
    color: white;

}
    .page-link:hover {
        background-color: var(--hoverLightBlue-color);
        color: white;
        box-shadow: none;
    }

/*-----------------SWEET ALERT STYLES---------------*/
div.swal2-container.swal2-center.swal2-backdrop-show > div {
    outline: 4px solid black;
    border: 4px solid var(--customOrange-color);
}

/*-----------------TOOLTIP STYLES---------------*/
/*.cftooltip * {
    opacity: 1.0 !important;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: black;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: .25rem;
    border: 2px solid var(--customOrange-color);
    outline: 4px solid double;
}

.tooltip-show {
    opacity: 1;
}*/



/*-----------------WEBKIT SCROOLBAR STYLES---------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--customOrange-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
}




.navbar-toggler {
    border-color: transparent !important;
    outline: none;
}








/*-----------------Search Inputtt style---------------*/
#floatingInputSearch {
    height: 41px;
    width: 240px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    border: 1px solid var(--backgroundGray-color);
}

    #floatingInputSearch:hover {
        border: 2px solid var(--hoverLightBlue-color);
    }


/*-----------------form (search) bootstrap---------------*/
.form-labelSearch {
    font-weight: 100;
    letter-spacing: 0px;
    opacity: 0.8;
}

/*-----------------primary buttons bootstrap---------------*/
.btn-primary {
    padding: 0px 0px 0px 0px;
    margin: 0;
    font-size: .8rem;
    height: 37px;
    background-color: var(--backgroundGray-color);
    border: none;
    font-weight: 500;
    letter-spacing: 0px;
    align-items: center;
}


    .btn-primary:hover {
        border-radius: 5px 5px;
        background-color: var(--hoverLightBlue-color);
    }


.btn-outline-primary {
    border: none;
}

    .btn-outline-primary:hover {
        border: none;
        background-color: var(--blueDark-color);
    }

/*-----------------image  bootstrap---------------*/
.img-thumbnail {
    padding: 0px;
    margin: -4px 0px -4px 0px;
}

/*-----------------navbar---------------*/
.navStyle {
    height: 57px;
    font-size: 1.3rem;
    letter-spacing: 0px;
    font-family: 'Segoe UI Emoji';
    font-style: italic;
}


/*-----------------menu buttons subjects and all posts---------------*/
.rightButtonMenu {
    border-radius: 0px 5px 0px 0px;
    height: 24px;
    color: GrayText;
}

    .rightButtonMenu:hover {
        border-radius: 0px 5px 0px 0px;
        background-color: white;
        color: var(--customBlack-color);
    }

.leftButtonMenu {
    border-radius: 5px 0px 0px 0px;
    height: 24px;
    color: GrayText;
}

    .leftButtonMenu:hover {
        border-radius: 5px 0px 0px 0px;
        background-color: white;
        color: var(--customBlack-color);
    }

.middleButtonMenu {
    border-radius: 0px 0px 0px 0px;
    height: 24px;
    color: GrayText;
}

    .middleButtonMenu:hover {
        border-radius: 0px 0px 0px 0px;
        background-color: white;
        color: var(--customBlack-color);
    }

/*
div > button > a h6 {
    color: var(--customBlack-color);
}
*/
/*-----------------tags---------------*/

.tagViewA {
    font-size: 1rem;
    font-weight: 400;
    font-family: Segoe UI;
    color: var(--customBlack-color);
}
    .tagViewA:hover{
        font-weight: 600;
    }

    .tagViewA:hover i{
        font-weight: 900;
    }

.tagViewB {
    letter-spacing: normal;
    font-size: 1rem;
    font-weight: 400;
    color: var(--customBlack-color);
    background-color:white;
    padding: 3px;
    font-family: Segoe UI;
}

    .tagViewB:hover {
        color: white;
    }
/*-----------------tag buttons---------------*/
.tagViewBtn {
    height: 30px;
    border-radius: 3px 3px;
}

    .tagViewBtn:hover {
        height: 30px;
        border-radius: 3px 3px;
        background-color: white;
    }


/*-----------------logout buttons---------------*/
.logoutButton {
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-weight: 600;
    border: 3px solid white;
    background-color: var(--customBlack-color);
    padding: 0;
    margin:0;
}
    .logoutButton:hover {
        border: 3px solid white;
        border-radius: 3px 3px 3px 3px;
    }


.hoverWidthSideBar {
    width: 200px;
}

@media screen and (max-width:992px) {

/*    #floatingInputSearch {
        width: 260px;
    }*/
    .sideBarBtn > span{
        font-size: 0.7rem;
    }
    .sideBarBtn > i {
        font-size: 0.8rem;
    }
    .hoverWidthSideBar {
        width: 160px;
    }
    .offcanvasBtn > span{
        font-size: 0.8rem;
    }
    .offcanvasBtn > i {
        font-size:initial;
    }



}

@media screen and (min-width:1200px) {


    .hoverWidthSideBar {
        width: 256.39px;
    }

    .offcanvasBtn > span{
        font-size: 0.8rem;
    }
    .offcanvasBtn > i {
        font-size: initial;
    }
    .imgSize {
        width: 60px;
        height: 60px;
    }


}


/*-----------------responsive img and video for post details---------------*/
img {
    max-width: 100%;
    height: auto;
}

iframe, object, embed {
    max-width: 100%;
    max-height: 100%;
}

/*-----------------img sizeing---------------*/
.imgSetup {
    width: 100%;
    max-height: 250px;
    height: auto;
}

.imgCircle {
    object-fit: cover;
    object-position: top;
    max-height: 250px;
    width: 100%;
    background-color: white;

}

.imgBig {
    object-fit: cover;
    object-position: 0 30%;
    max-height: 320px;
    width: 100%;
    background-color: white;

}

.imgFit {
    object-fit: cover;
    object-position: 0 30%;
    max-height: 250px;
    width: 100%;
    background-color: white;
}

.logoImg {
    max-width: 250px;
    height: 41px;
}






/*-----------------font and text---------------*/
.aTextStyle {
    letter-spacing: normal;
    font-weight: 600;
    padding: 3px;
    font-style: normal;
    width: 240px;
}



.smallFont {
    font-size: 0.9rem;
    font-weight: 600;
}

/*-----------------contact icon colors---------------*/
.fa-id-card:before {
    color: transparent;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}


button > a {
    height:inherit;
}

/*-----------------background colors---------------*/
.bg-example {
    background-color: var(--customBlack-color);
    
}
.bg-offcanvas{
    background-color:var(--backgroundGray-color);
}






/*-----------------side bar buttons---------------*/
.sideBarBtn{
    color:var(--customBlack-color);
}
    .sideBarBtn:hover {
        background-color: white;
        color: var(--customBlack-color);
        width:100%;
    }
        .sideBarBtn:hover .myPostsIconSideBar {
            color:gray;
        }
        .sideBarBtn:hover .likeIconSideBar {
            color: var(--hoverLightBlue-color);
        }
        .sideBarBtn:hover .usefulIconSideBar {
            color: #8A1EAE;
        }
        .sideBarBtn:hover .commentsIconSideBar {
            color: #747481;
        }
        .sideBarBtn:hover .tagsIconSideBar {
            color: #F59300;
        }
        .sideBarBtn:hover .commentsManIconSideBar {
            color: #747481;
        }
        .sideBarBtn:hover .tagsManIconSideBar {
            color: #F59300;
        }



/*-----------------post card buttons---------------*/
.postBtns, .postBtns:visited {
    color: var(--customBlack-color);
    background-color:white;
}
    .postBtns:hover {
        background-color: var(--backgroundGray-color);
        color: var(--customBlack-color);
    }


.postBtnsLike {
    border-radius: 0px 0px 0px 5px;
    
}
    .postBtnsLike:hover {
        border-radius: 0px 0px 0px 5px;
    }

.postBtnsUseful {
    border-radius: 0px 0px 0px 0px;
}

    .postBtnsUseful:hover {
        border-radius: 0px 0px 0px 0px;
    }

.postBtnsComments {
    border-radius: 0px 0px 5px 0px;
}

    .postBtnsComments:hover {
        border-radius: 0px 0px 5px 0px;
    }

.cardPostSM {
    
    font-size: 0.9rem;
    font-weight:600;
    color: GrayText;
    background-color: white;
    padding: 0;
    margin: 0;
}
    .cardPostSM:hover {
        color: var(--customBlack-color);
        background-color: var(--backgroundGray-color);
    }

.readBtn{
    height:28px;
}


/*-----------------col settings---------------*/
.col-3-left {
    width: 22%;
}

.col-3-right{
    width:22%;
}




/*-----------------floating custom---------------*/
.form-floating > input.floaingCustom {
    height: 50px;


}

.form-labelFloating {
    font-weight: 100;
    letter-spacing: 0px;
    opacity: 0.8;
    font-family: 'Segoe UI Emoji';
    line-height: 10px;
}








/*-----------------upload button---------------*/

.uploadButton {
    border-radius: 3px 3px 3px 3px;
    color: var(--customBlack-color);
    font-weight: 600;
    border: 3px solid white;
    background-color: white;
    padding: 0;
    margin: 0;
}

    .uploadButton:hover {
        border: 3px solid white;
        color: var(--hoverLightBlue-color);
        background-color: var(--backgroundGray-color);
    }

.btn-file {
    position: relative;
    overflow: hidden;
    height:auto;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }

.file-input-label {
    display: table-cell;
}

/*-----------------del button---------------*/

.delBtn:hover{
    background-color:red;
}

.editdel {
    background-color:var(--backgroundGray-color);
}


/*-----------------del button---------------*/
.sortByPageBtn {
    border-radius: 3px 3px 3px 3px;
    color: var(--customBlack-color);
    background-color: white;
}
    .sortByPageBtn:hover {
        border-radius: 3px 3px 3px 3px;
        background-color: var(--backgroundGray-color);
        color: var(--customBlack-color);
    }



/*-----------------del button---------------*/
.testimonial-card .card-up {
    height: 105px;
    overflow: hidden;
}

.aqua-gradient {
    background: linear-gradient(40deg, #205CE9, #2F3337) !important;
}
.testimonial-card{

}

.testimonial-card .avatar {
    width: 120px;
    padding-top: 10px;
    margin-top: -60px;
    margin-bottom: -60px;
    overflow: hidden;
    border-radius: 50%;
}


.avatarSmall {
    width: 60px;
    padding-top: 10px;
    margin-top: -30px;
    margin-bottom: -60px;
    overflow: hidden;
    border-radius: 50%;
}


/*-----------------read more/less button---------------*/
.toggledTextTags {
    height: 190px;
    overflow: hidden;
}
.toggledText {
    height: 55px;
    overflow: hidden;
}

    .toggledText.toggle, .toggledTextTags.toggle {
        height: auto;
    }

        .readless-txt,
        .toggledText.toggle, .toggledTextTags.toggle ~ .readM span.readmore-txt {
            display: none;
        }

        .toggledText.toggle, .toggledTextTags.toggle ~ .readM span.readless-txt {
            display: block;
        }



/*-----------------mix---------------*/

.imgSize {
    width: 120px;
    height: 120px;
}

.font600 {
    font-weight: 600;
}

.pluMinusBtn {
    color:var(--hoverLightBlue-color);
}
    .pluMinusBtn:hover {
        color: white;
    }

p{
    margin:0;
}

.footerIcons {
    color: white;
}
    .footerIcons:hover {
        color:var(--hoverLightBlue-color);
    }
.footerLogo {
    height: 40px;
}

.postSpan {
    margin: 0px 8px 0px 3px;
}