:root {
    --blueDark-color: #026e81;
    --backgroundGray-color: #e1e1e1;
    --hoverLightBlue-color: #a1c7e0;
    --customOrange-color: #ff993b;
}




/*-----------------NAVIGATION---------------*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--backgroundGray-color);
}

.nav {
    display: inline-block;
    
}

#navbarResponsive > ul:nth-child(2) > li:nth-child(2) > form > button {
    line-height: 1.5;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none;
    box-sizing: border-box;
    background-color: transparent;
    transition: all .2s;
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: rgba(255, 255, 255, .8);
} 

.nav-identity {
    padding-top: 18px !important;
}

/*-----------------CUSTOM MEDIA OBJECT BORDER---------------*/
.media-border {
    border: 2px solid black;
}

/*-----------------CUSTOM BG COLOR---------------*/
.bg-cf {
    background: rgba(255, 153, 59, .35);
}
/*-----------------APP WIDE FONT WEIGHT---------------*/
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading,
select, input, textarea, option, label, .tooltip-inner {
    font-weight: 600;
}

/*-----------------GENERAL PADDING---------------*/
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 100px 0 100px 0;
}
/*-----------------GOOGLE MAP---------------*/
#map {
    height: 400px;
}

.noline {
    text-decoration: none;
}

/*-----------------SUMMERNOTE---------------*/
.note-editable, .note-placeholder {
    font-size: 22px;
}

/*-----------------BUTTON STYLES---------------*/
.btn-tag {
    margin-top: 10px;
}

.btnWide, .btn-tag {
    width: 100%;
}

button.btn-sm, a.btn-sm {
    line-height: .5;
    border-radius: 10px;
}

.btn-dark:hover {
    border: 4px solid var(--customOrange-color);
}

.btn-warning {
    color: #212121;
    background-color: var(--customOrange-color);
    border-color: var(--customOrange-color);
}
    .btn-warning:hover {
        color: white;
        background-color: #212121;
        outline: 4px solid var(--customOrange-color);
    }

/*-----------------CARD STYLE---------------*/
.card-hr {
    color: #212121;
    background-color: #212121;
    height: 3px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-img, .card-img-top, .card-img-bottom {
    padding: 10px;
    height: 350px;
}

/*-----------------PAGE STYLES---------------*/
.page-item.active .page-link {
    background-color: #212121;
    border-color: black;
}

.page-link {
    color: #212121;
}

/*-----------------SWEET ALERT STYLES---------------*/
div.swal2-container.swal2-center.swal2-backdrop-show > div {
    outline: 4px solid black;
    border: 4px solid var(--customOrange-color);
}

/*-----------------TOOLTIP STYLES---------------*/
.cftooltip * {
    opacity: 1.0 !important;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: black;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: .25rem;
    border: 2px solid var(--customOrange-color);
    outline: 4px solid double;
}

.tooltip-show {
    opacity: 1;
}



/*-----------------WEBKIT SCROOLBAR STYLES---------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--customOrange-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
}




.navbar-toggler {
    border-color: transparent !important;
    outline: none;
}








/*-----------------Search Inputtt style---------------*/
#floatingInputSearch {
    height: 40px;
    width: 360px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    border: 1px solid rgb(128, 128, 128, 0.3);
}

#floatingInputSearch:hover {
    border: 2px solid rgb(128, 128, 128, 0.3);
}

icon-search {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px
}
/*-----------------form (search) bootstrap---------------*/
.form-labelSearch {
    font-weight: 100;
    letter-spacing: 0px;
    opacity: 0.8;
}

/*-----------------primary buttons bootstrap---------------*/
.btn-primary {
    padding: 0px 0px 0px 0px;
    margin: 0;
    font-size: .8rem;
    height: 37px;
    background-color: var(--backgroundGray-color);
    border: none;
    font-weight: 500;
    letter-spacing: 0px;
    align-items: center;
}


.btn-primary:hover {
    border-radius: 5px 5px;
    background-color:var(--hoverLightBlue-color);
}

.btn-outline-primary {
    border:none;
}

    .btn-outline-primary:hover {
        border: none;
        background-color: var(--blueDark-color);
    }

/*-----------------image  bootstrap---------------*/
.img-thumbnail {
    padding: 0px;
    margin: -4px 0px -4px 0px;
}

/*-----------------navbar---------------*/
.navStyle {
    height: 57px;
    border-bottom: 1px solid var(--blueDark-color);
    font-size: 1.3rem;
    letter-spacing: 0px;
    font-family: 'Segoe UI Emoji';
    font-style: italic;
}


/*-----------------menu buttons subjects and all posts---------------*/
.rightButtonMenu {
    border-radius: 0px 5px 0px 0px;
    height: 35px;
}
    .rightButtonMenu:hover {
        border-radius: 0px 5px 0px 0px;
        height: 35px;
    }

.leftButtonMenu {
    border-radius: 5px 0px 0px 0px;
    height: 35px;
}
    .leftButtonMenu:hover {
        border-radius: 5px 0px 0px 0px;
        height: 35px;
    }

div > button > a h6 {
    color:var(--blueDark-color);
}

/*-----------------tags---------------*/
.tagViewA {
    font-size: 1rem;
    font-weight: 400;
    font-family: Segoe UI;
    color: var(--blueDark-color);
}

.tagViewB {
    letter-spacing: normal;
    font-size: 1rem;
    font-weight: 400;
    color: var(--blueDark-color);
    padding: 3px;
    font-family: Segoe UI;
}

.tagViewB:hover {
    color: white;
}
/*-----------------tag buttons---------------*/
.tagViewBtn {
    height: 30px;
    border-radius: 3px 3px;
}
    .tagViewBtn:hover {
        height: 30px;
        border-radius: 3px 3px;
    }


/*-----------------logout buttons---------------*/
.logoutButton {
    border-radius: 3px 3px 3px 3px;
    height: 35px;
    color: var(--blueDark-color);
    font-weight:600;
}


@media screen and (max-width:1200px) {
    #floatingInputSearch {
        width:260px;
    }
}

@media screen and (max-width:767px) {
    .navStyle {
        height: 114px;
    }

    #floatingInputSearch {
        width:420px;
    }
}


@media screen and (max-width:576px) {
    .navStyle {
        height: 114px;
    }

    #floatingInputSearch {
        width:200px;
    }
}

/*-----------------responsive img and video for post details---------------*/
img {
    max-width: 100%;
    height: auto;
}

iframe, object, embed {
    max-width: 100%;
    max-height: 100%;
}

/*-----------------img sizeing---------------*/
.imgSetup {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    max-height: 250px;
    margin-bottom: 1rem;
}

.imgSmall {
    object-fit:scale-down;   
    max-height: auto;
    width: 100%;
    background-color:white;
}

.imgBig {
    object-fit:cover;
    object-position:top;
    max-height: 350px;

}









.postButtonRight {
    background-color: white;
    border-radius: 0px 0px 0px 5px;
}

    .postButtonRight:hover {
        background-color: var(--hoverLightBlue-color);
        border-radius: 0px 0px 0px 5px;
    }

.postButtonleft {
    background-color: white;
    border-radius: 0px 0px 5px 0px;
}
    .postButtonleft:hover {
        background-color: var(--hoverLightBlue-color);
        border-radius: 0px 0px 5px 0px;
    }


.smallFont {
    font-size: 0.9rem;
    font-weight: 600;
}

