:root {
    --blueDark-color: #2F3337;
    --backgroundGray-color: #EAEAEC;
    --hoverLightBlue-color: #205CE9;
    --customBlack-color: #2F3337;
}




/*-----------------NAVIGATION---------------*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--backgroundGray-color);
    color:var(--customBlack-color);
}

.nav {
    display: inline-block;
}


#navbarResponsive > ul:nth-child(2) > li:nth-child(2) > form > button {
    line-height: 1.5;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style: none;
    box-sizing: border-box;
    background-color: var(--blueDark-color);
    transition: all .2s;
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: rgba(255, 255, 255, .8);
}

.nav-identity {
    padding-top: 18px !important;
}

/*-----------------CUSTOM MEDIA OBJECT BORDER---------------*/
.media-border {
    border: 2px solid black;
}

/*-----------------CUSTOM BG COLOR---------------*/
.bg-cf {
    background: rgba(255, 153, 59, .35);
}
/*-----------------APP WIDE FONT WEIGHT---------------*/
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading,
select, input, textarea, option, label, .tooltip-inner {
    font-weight: 600;
}

/*-----------------GENERAL PADDING---------------*/
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 100px 0 100px 0;
}
/*-----------------GOOGLE MAP---------------*/
#map {
    height: 400px;
}

.noline {
    text-decoration: none;
}

/*-----------------SUMMERNOTE---------------*/
.note-editable, .note-placeholder {
    font-size: 22px;
}

/*-----------------BUTTON STYLES---------------*/
.btn-tag {
    margin-top: 10px;
}

.btnWide, .btn-tag {
    width: 100%;
}

button.btn-sm, a.btn-sm {
    line-height: .5;
    border-radius: 10px;
}

.btn-dark:hover {
    border: 4px solid var(--customOrange-color);
}

.btn-warning {
    color: #212121;
    background-color: var(--customOrange-color);
    border-color: var(--customOrange-color);
}

    .btn-warning:hover {
        color: white;
        background-color: #212121;
        outline: 4px solid var(--customOrange-color);
    }

/*-----------------CARD STYLE---------------*/
.card-hr {
    color: #212121;
    background-color: #212121;
    height: 3px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-img, .card-img-top, .card-img-bottom {
    padding: 10px;
    height: 350px;
}

/*-----------------PAGE STYLES---------------*/
.page-item.active .page-link {
    background-color: #212121;
    border-color: black;
}

.page-link {
    color: #212121;
}

/*-----------------SWEET ALERT STYLES---------------*/
div.swal2-container.swal2-center.swal2-backdrop-show > div {
    outline: 4px solid black;
    border: 4px solid var(--customOrange-color);
}

/*-----------------TOOLTIP STYLES---------------*/
.cftooltip * {
    opacity: 1.0 !important;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: black;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: .25rem;
    border: 2px solid var(--customOrange-color);
    outline: 4px solid double;
}

.tooltip-show {
    opacity: 1;
}



/*-----------------WEBKIT SCROOLBAR STYLES---------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--customOrange-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
}




.navbar-toggler {
    border-color: transparent !important;
    outline: none;
}








/*-----------------Search Inputtt style---------------*/
#floatingInputSearch {
    height: 40px;
    width: 240px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    border: 1px solid var(--backgroundGray-color);
}

    #floatingInputSearch:hover {
        border: 2px solid var(--hoverLightBlue-color);
    }


/*-----------------form (search) bootstrap---------------*/
.form-labelSearch {
    font-weight: 100;
    letter-spacing: 0px;
    opacity: 0.8;
}

/*-----------------primary buttons bootstrap---------------*/
.btn-primary {
    padding: 0px 0px 0px 0px;
    margin: 0;
    font-size: .8rem;
    height: 37px;
    background-color: var(--backgroundGray-color);
    border: none;
    font-weight: 500;
    letter-spacing: 0px;
    align-items: center;
}


    .btn-primary:hover {
        border-radius: 5px 5px;
        background-color: var(--hoverLightBlue-color);
    }


.btn-outline-primary {
    border: none;
}

    .btn-outline-primary:hover {
        border: none;
        background-color: var(--blueDark-color);
    }

/*-----------------image  bootstrap---------------*/
.img-thumbnail {
    padding: 0px;
    margin: -4px 0px -4px 0px;
}

/*-----------------navbar---------------*/
.navStyle {
    height: 57px;
    font-size: 1.3rem;
    letter-spacing: 0px;
    font-family: 'Segoe UI Emoji';
    font-style: italic;
}


/*-----------------menu buttons subjects and all posts---------------*/
.rightButtonMenu {
    border-radius: 0px 5px 0px 0px;
    height: 35px;
}

    .rightButtonMenu:hover {
        border-radius: 0px 5px 0px 0px;
        border-bottom: 2px solid var(--hoverLightBlue-color);
        background-color: white;
        color: var(--hoverLightBlue-color);
    }

.leftButtonMenu {
    border-radius: 5px 0px 0px 0px;
    height: 35px;
}

    .leftButtonMenu:hover {
        border-radius: 5px 0px 0px 0px;
        border-bottom: 2px solid var(--hoverLightBlue-color);
        background-color: white;
        color: var(--hoverLightBlue-color);
    }

.middleButtonMenu {
    border-radius: 0px 0px 0px 0px;
    height: 35px;
}

    .middleButtonMenu:hover {
        border-radius: 0px 0px 0px 0px;
        border-bottom: 2px solid var(--hoverLightBlue-color);
        background-color: white;
        color: var(--hoverLightBlue-color);
    }

/*
div > button > a h6 {
    color: var(--customBlack-color);
}
*/
/*-----------------tags---------------*/
.tagViewA {
    font-size: 1rem;
    font-weight: 400;
    font-family: Segoe UI;
    color: var(--customBlack-color);
}

    .tagViewA:hover {
        color: white;
    }

.tagViewB {
    letter-spacing: normal;
    font-size: 1rem;
    font-weight: 400;
    color: var(--customBlack-color);
    background-color:white;
    padding: 3px;
    font-family: Segoe UI;
}

    .tagViewB:hover {
        color: white;
    }
/*-----------------tag buttons---------------*/
.tagViewBtn {
    height: 30px;
    border-radius: 3px 3px;
}

    .tagViewBtn:hover {
        height: 30px;
        border-radius: 3px 3px;
    }


/*-----------------logout buttons---------------*/
.logoutButton {
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-weight: 600;
    border:3px solid white;
    background-color:var(--customBlack-color);
}
    .logoutButton:hover {
        border: 3px solid white;
    }


@media screen and (max-width:1200px) {
    #floatingInputSearch {
        width: 260px;
    }
}

@media screen and (max-width:767px) {

    #floatingInputSearch {
        width: 420px;
    }
}


@media screen and (max-width:576px) {

    #floatingInputSearch {
        width: 200px;
    }
}

/*-----------------responsive img and video for post details---------------*/
img {
    max-width: 100%;
    height: auto;
}

iframe, object, embed {
    max-width: 100%;
    max-height: 100%;
}

/*-----------------img sizeing---------------*/
.imgSetup {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    max-height: 250px;
    margin-bottom: 1rem;
}

.imgSmall {
    object-fit: scale-down;
    max-height: auto;
    width: 100%;
    background-color: white;
}

.imgBig {
    object-fit: cover;
    object-position: top;
    max-height: 350px;
}

.logoImg {
    max-width: 250px;
    height: 33px;
}


.smallFont {
    font-size: 0.9rem;
    font-weight: 600;
}




.fa-circle-exclamation:before {
    color: transparent;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}


button > a {
    height:inherit;
}

.bg-example {
    background-color: var(--customBlack-color);
    
}




.aTextStyle {
    letter-spacing: normal;
    font-weight: 600;
    padding: 3px;
    font-style: normal;
}

.sideBarBtn{
    color:var(--customBlack-color);
}
    .sideBarBtn:hover {
        background-color: white;
        color: var(--customBlack-color);
    }
        .sideBarBtn:hover .likeIconSideBar {
            color: var(--hoverLightBlue-color);
        }
        .sideBarBtn:hover .usefulIconSideBar {
            color: #8A1EAE;
        }
        .sideBarBtn:hover .commentsIconSideBar {
            color: #747481;
        }
        .sideBarBtn:hover .tagsIconSideBar {
            color: #F59300;
        }
        .sideBarBtn:hover .commentsManIconSideBar {
            color: #747481;
        }
        .sideBarBtn:hover .tagsManIconSideBar {
            color: #F59300;
        }


.postBtns, .postBtns:visited {
    color: var(--customBlack-color);
    background-color:white;
}
    .postBtns:hover {
        background-color: var(--backgroundGray-color);
        color: var(--customBlack-color);
    }


.postBtnsLike {
    border-radius: 0px 0px 0px 5px;
    
}
    .postBtnsLike:hover {
        border-radius: 0px 0px 0px 5px;
    }

.postBtnsUseful {
    border-radius: 0px 0px 0px 0px;
}

    .postBtnsUseful:hover {
        border-radius: 0px 0px 0px 0px;
    }

.postBtnsComments {
    border-radius: 0px 0px 5px 0px;
}

    .postBtnsComments:hover {
        border-radius: 0px 0px 5px 0px;
    }
